.Cont01{
    padding: 35px;
    background-color: grey;
}

.title{
    font-size: 36px;
    color: white;
    margin-left: 60px;
}

.flexi{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    text-align: justify;
}

.title01{
    color: white;
}

.Desc01{
    color: orange;
    margin-left: 25px;
}

.Cont02{
    display: flex;
    overflow-x: scroll;
}

.Cont03{
    display: flex;
}

.Cont04{
    width: 300px;
}

.Btn01{
    width: 125px;
    height: 30px;
    border-radius: 15px;
    border: transparent;
    background-color: whitesmoke;
    text-align: center;
    align-items: center;
}

.Btn01:hover{
    background-color: black;
}

.Bton01Tex{
    color: orange;
    text-align: center;
    margin-top: 10px;
    align-items: center;
}
.Bton01Tex:hover{
    color: white;
}
.Cont05{
    padding: 5px;
    position: relative;
}

.ImgIl{
    padding: 1px;
    border-radius: 5px;
}

.Date01{
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.Cont06{
    align-items: center;
    text-align: center;
}

.ImageCB{
    margin-left: 30%;
    padding: 50px;
}

.Contenido01{
    width: 1000px;
    margin-left: 15%;
}